/.pytest_cache
/src/.pytest_cache
/src/__pycache__
/src/hdf5_converter.py
/.mypy_cache
unsorted
*.sif
im_*
*.h5
log_*
*.pdf
*.png
*.csv
hydra.yaml
logs.yaml
overrides.yaml
*.log
/intermediate_report
/experiments/J_0.2000_chi_256
/experiments/J_0.6000_chi_256
/experiments/output
/total_samples_number_3200000
/J_0.6000_chi_256
/physical_ims
/simple_random_im
/raw_ims